
# Go database stuff
backend/database/*
frontend/.env

# streamlit secrets
*/.streamlit/secrets.toml
*/.streamlit/users.toml

# Python virtual environments
.venv/

.envrc
.env
.env.traefik

# Test files
test/garbage


# Byte-compiled / optimized / DLL files | more python stuff
__pycache__/
*.py[cod]
*$py.class

# certs
letsencrypt/acme.json
