
# Go database stuff
backend/database/*
frontend/.env

# streamlit secrets
*/.streamlit/secrets.toml
*/.streamlit/users.toml

# Python virtual environments
.venv/

.envrc
.env
.env.traefik

# Test log for the requests
frontend/test/*.log
frontend/test/*.json
#frontend/test/*.csv
frontend/test/*.png
frontend/test/.async/
frontend/screenshots/


# Byte-compiled / optimized / DLL files | more python stuff
__pycache__/
*.py[cod]
*$py.class

# certs
letsencrypt/acme.json
