/* hide 0-height iframes */
.element-container:has(iframe[height="0"]) {
  display: none;
}

.reportview-container {
  margin-top: -2em;
}

#MainMenu {
  visibility: hidden;
}

.stDeployButton {
  display: none;
}

footer {
  visibility: hidden;
}

#stDecoration {
  display: none;
}
